@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 1;
}

li, dl, dt, dd {
  list-style: none;
}

.l-footer {
  height: auto;
  padding: 2rem 0;
  background-color: #e979a6;
  text-align: center;
}

.l-footer__inner {
  max-width: 1180px;
  margin: auto;
}

.l-footer__inner__attention {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.l-footer__inner__socialmedia {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.l-footer__inner__privacy {
  margin-top: 5rem;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

.l-footer__inner__privacy a {
  color: white;
}

.l-footer__inner__copyright {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.l-header {
  height: auto;
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 961px) {
  .l-header {
    margin-top: 7rem;
  }
}

.l-header__sitesubname {
  padding-top: 2rem;
}

.l-header__sitename {
  padding: 1rem 0;
}

.l-header__sitename__img {
  width: 90%;
  height: 10rem;
  max-width: 700px;
}

@media (min-width: 561px) {
  .l-header__sitename__img {
    height: auto;
  }
}

.p-globalMenu {
  height: 5rem;
  background-color: white;
}

@media (min-width: 961px) {
  .p-globalMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #e979a6;
  }
}

.nav_menu {
  position: fixed;
  top: -100%;
  z-index: 10;
  width: 100%;
  height: auto;
  padding: 10rem 2rem 5rem;
  background-color: white;
  transition: all .5s 0s ease;
}

@media (min-width: 961px) {
  .nav_menu {
    display: flex;
    justify-content: space-around;
    position: static;
    max-width: 1180px;
    margin: auto;
    padding: 1rem 0;
    background-color: #e979a6;
  }
}

.nav_menu > li {
  border-bottom: solid 1px #DEDEDE;
  font-size: 3rem;
  line-height: 5rem;
}

@media (min-width: 961px) {
  .nav_menu > li {
    border-bottom: 0;
    font-size: 2rem;
    line-height: 3rem;
  }
}

.nav_menu > li a {
  color: #e979a6;
}

@media (min-width: 961px) {
  .nav_menu > li a {
    color: white;
  }
}

.nav_menu.show {
  top: 0;
}

.nav_toggle {
  display: block;
  position: fixed;
  top: 2rem;
  left: 95%;
  transform: translate(-95%, 0);
  z-index: 15;
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  background-color: #FFF2F6;
}

@media (min-width: 961px) {
  .nav_toggle {
    display: none;
    position: static;
  }
}

.nav_toggle i {
  display: block;
  width: 70%;
  height: 3px;
  background-color: #e979a6;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
  top: 20%;
  left: 15%;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 15%;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 20%;
  left: 15%;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(14px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
  transform: translateY(-13px) rotate(45deg);
}

.p-hamburger_menu-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.p-hamburger_menu-background.show {
  display: block;
}

body.show {
  width: 100%;
}

.l-main {
  max-width: 1180px;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.c-button--pink {
  display: block;
  width: 100%;
  margin: 5rem auto;
  padding: 0.8rem 0;
  border-radius: 10rem;
  background-color: #e979a6;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.c-button--white {
  display: block;
  position: absolute;
  right: 3%;
  bottom: 5%;
  padding: 1rem 0;
  width: 50%;
  border-radius: 10rem;
  background-color: white;
  color: #e979a6;
  font-size: 2rem;
  font-weight: bold;
}

.c-mainTitle {
  text-align: center;
}

.c-mainTitle h1, .c-mainTitle p {
  position: relative;
  margin-bottom: 5rem;
  padding: 0.5rem 0;
  color: #e979a6;
  font-size: 3rem;
  line-height: 5rem;
}

.c-mainTitle h1::before, .c-mainTitle h1::after, .c-mainTitle p::before, .c-mainTitle p::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8rem;
  height: 3px;
  background-color: #e979a6;
}

.c-mainTitle h1::before, .c-mainTitle p::before {
  top: 0;
}

.c-mainTitle h1::after, .c-mainTitle p::after {
  bottom: 0;
}

.c-news {
  width: 100%;
  margin: auto;
}

@media (min-width: 561px) {
  .c-news > div {
    display: flex;
  }
}

.c-news__date {
  margin-top: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

.c-news__title {
  margin-bottom: 2rem;
  line-height: 3rem;
  font-size: 1.7rem;
  color: #707070;
  text-decoration: underline;
}

@media (min-width: 561px) {
  .c-news__title {
    margin-top: 3rem;
    margin-left: 2rem;
  }
}

.c-news hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CBCBCB;
  border: 0;
  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}

.c-subTitle {
  margin-bottom: 3rem;
  position: relative;
  text-align: center;
  color: #e979a6;
  font-size: 2.5rem;
}

@media (min-width: 561px) {
  .c-subTitle {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }
}

.c-subTitle::before, .c-subTitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 80px;
  height: 2px;
  background-color: #e979a6;
}

.c-subTitle::before {
  left: 0;
}

.c-subTitle::after {
  right: 0;
}

@media (min-width: 961px) {
  .p-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.p-card__list {
  margin: 5rem 0;
}

@media (min-width: 561px) {
  .p-card__list {
    display: flex;
    margin: auto;
    margin-bottom: 5rem;
    width: 100%;
  }
}

.p-card__list__img {
  display: block;
  margin: auto;
  width: 100%;
  height: 38vh;
  min-height: 24rem;
  object-fit: cover;
}

@media (min-width: 561px) {
  .p-card__list__img {
    width: 50%;
    height: 30vh;
  }
}

.p-card__list__contents {
  display: block;
  position: relative;
  margin: auto;
  padding: 3%;
  width: 100%;
  height: 38vh;
  min-height: 24rem;
  background-color: #e979a6;
  color: white;
  text-align: center;
}

.p-card__list__contents dt {
  margin: 5% 0;
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 561px) {
  .p-card__list__contents {
    width: 50%;
    height: 30vh;
  }
}

.p-contact {
  height: auto;
  margin: 5rem 0 0;
  padding: 3rem 0;
  background-color: #FFF2F6;
  text-align: center;
}

.p-contact__inner {
  width: 90%;
  max-width: 1180px;
  margin: auto;
}

.p-contact__inner__qr img {
  margin: 2rem 0;
  width: 15rem;
  height: 15rem;
}

@media (min-width: 561px) {
  .p-entryForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.p-entryForm__section {
  width: 100%;
  height: auto;
  margin: 15rem auto;
  padding: 0 2rem 4rem;
  border: solid 2px #e979a6;
  border-radius: 10px;
}

@media (min-width: 561px) {
  .p-entryForm__section {
    margin: 5rem 0;
  }
}

.p-entryForm__section h2 {
  position: relative;
  top: -4rem;
  line-height: 2.5rem;
  width: 85%;
  margin: auto;
  padding: 1rem 0.5rem;
  border: solid 3px #e979a6;
  background-color: #FFF2F6;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.7rem;
  text-align: center;
}

.p-introduction {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 6rem;
  padding: 0 2rem 4rem;
  border: solid 2px #e979a6;
  border-radius: 10px;
}

.p-introduction h2 {
  position: relative;
  top: -2.5rem;
  line-height: 2.5rem;
  background-color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.p-introduction p:last-of-type {
  text-align: right;
}

.p-newslist {
  height: auto;
  margin: 5rem 0;
  padding: 5rem 0;
}

.wp-pagenavi {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-pagenavi a, .wp-pagenavi span {
  margin: 0 2px;
  padding: 1rem 1.5rem;
  background-color: #FFF;
  border: solid 1px #707070;
  color: #707070;
  font-size: 1.5rem;
  white-space: nowrap;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
}

.wp-pagenavi a:hover {
  color: #FFF;
  background-color: #999;
  border-color: #999;
}

.wp-pagenavi span.current {
  background-color: #e979a6;
  border-color: #e979a6;
  color: #FFF;
  font-weight: bold;
}

.p-post {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.p-post h2 {
  margin-bottom: 5rem;
  padding: 1rem;
  border-left: solid 5px #e979a6;
  border-bottom: solid 3px #e979a6;
  background-color: #FFF2F6;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

.p-post h3 {
  padding: 0.5rem 1rem;
  border-left: solid 5px #e979a6;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.p-post p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.p-post ul, .p-post ol {
  padding: 3rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.p-post ul li {
  list-style-type: disc;
}

.p-post ol li {
  list-style-type: decimal;
}

.p-slider {
  margin-top: 5rem;
  padding: 3rem 0 2rem;
  background-color: #FFF2F6;
}

@media (min-width: 961px) {
  .p-slider {
    width: 70%;
    margin: 0 auto;
  }
}

.slider {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 561px) {
  .slider {
    max-width: 50rem;
  }
}

.slick-list {
  overflow: visible;
}

@media (min-width: 961px) {
  .slick-list {
    overflow: hidden;
  }
}

.slick-slide {
  margin: 0 5px;
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-slide img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
}

@media (min-width: 561px) {
  .slick-slide img {
    height: 32rem;
  }
}

.slick-prev, .slick-next {
  z-index: 1;
  width: 3rem;
  height: 3.5rem;
}

.slick-prev {
  left: -2rem;
}

.slick-next {
  right: -2rem;
}

.slick-prev:before, .slick-next:before {
  color: #e979a6;
  opacity: 1;
  font-size: 3rem;
}

.slick-active {
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #e979a6;
}

.thumb {
  margin: 20px 0 0;
}

.thumb .slick-slide {
  cursor: pointer;
}

.thumb .slick-slide:hover {
  opacity: .7;
}

@media (min-width: 561px) {
  .u-rightButton {
    width: 23rem;
    margin: 8rem 0 0 auto;
  }
}
/*# sourceMappingURL=17emotion.css.map */