@import "../../variables";

.c-mainTitle {
    text-align: center;

    h1, p {
        position: relative;
        margin-bottom: 5rem;
        padding: 1rem 0;
        color: $dark-pink;
        @include breakpoint( pc ) {
            margin-bottom: 8rem;
        }

        &::before, &::after{
            content: "";
            display: inline-block;
            // display: inline; との違い（参考URL：https://saruwakakun.com/html-css/basic/display）
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            width: 10rem;
            height: 3px;
            background-color: $dark-pink;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
  
}
