@import "../../variables";

.p-contact {
    height: auto;
    margin: 5rem 0 0;
    padding: 3rem 0;
    background-color: $light-pink;
    text-align: center;

    &__inner {
        width: 90%;
        max-width: 1180px;
        margin: auto;
        
        &__qr img{
            margin: 2rem 0;
            width: 15rem;
            height: 15rem;
        }
    }
}
