@import "../../variables";

.p-introduction {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 6rem;
    padding: 0 2rem 4rem;
    border: solid 2px $dark-pink;
    border-radius: 10px;

    h2{
        position: relative;
        top: -2.5rem;
        line-height: 2.5rem;
        background-color: white;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    p:last-of-type {
        text-align: right;
    }
}
