@import "../../variables";

.p-slider {
    width: 100%;
    margin: 5rem 0;
    padding: 3rem 0 2rem;
    background-color: $light-pink;
    @include breakpoint( tablet ) {
        width: 80%;
        max-width: 800px;
        margin: 8rem auto;
    }
}

.slider { // ulタグ
    width: 90%;
    margin: 0 auto;
    @include breakpoint( tablet ) {
        max-width: 50rem;
    }
}


.slick-list { // スライドのimg部分？
    overflow: hidden;
}


.slick-slide { // liタグ
    margin: 0 5px;
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-slide img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    @include breakpoint( tablet ) {
        height: 32rem;
    }
}


.slick-prev, .slick-next { // img左右の矢印
    z-index: 1;
    width: 3rem;
    height: 3.5rem;
}
.slick-prev {
    left: -2rem;
}
.slick-next {
    right: -2rem;
}

.slick-prev:before, .slick-next:before {
    color: $dark-pink;
    opacity: 1;
    font-size: 3rem;
}


.slick-active {
    opacity: 1;
}
// .slick-current {
//     opacity: 1;
// }

.slick-dots li.slick-active button:before {
    color: $dark-pink;
}

.thumb {
    margin: 20px 0 0;
}
.thumb .slick-slide {
    cursor: pointer;
}
.thumb .slick-slide:hover {
    opacity: .7;
}
