@import "../variables";

.l-footer {
    height: auto;
    padding: 2rem 0;
    background-color: $dark-pink;
    text-align: center;

    &__inner {
        max-width: 1180px;
        margin: auto;

        &__attention{
            color: white;
            font-size: 2rem;
            font-weight: bold;
        }
    
        &__socialmedia{
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
        }
    
        &__privacy {
            margin-top: 5rem;
            font-size: 1.4rem;
            font-family: $japanese-font;
            font-weight: bold;
            a {
                color: white;
            }
        }
    
        &__copyright {
            margin-top: 1.5rem;
            font-size: 1.4rem;
            color: white;
            font-family: $japanese-font;
        }
    }
}
