@import "../variables";

.l-main {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    // bodyやコンテンツ部分を中央寄せする方法（参考URL：https://qiita.com/Slowh/items/d0eb17068efe2b9d8bcf）
    margin-top: 5rem;
    margin-bottom:  15rem;
}
